
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  text-align: center;
  color : green;
  font-size : 300%;
}

#box {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 195px;
  left: 195px;
  text-align: center;
  color : white;
}
#paddleL {
    background-color: aqua;
    width: 10px;
    height: 100px;
    position: absolute;
    left:50px;
    top: 170px;
    border-radius:15px;
}
#paddleR {
    background-color: red;
    width: 10px;
    height: 100px;
    position: absolute;
    left: 380px;
    top: 170px;
    border-radius:15px;
}
#scoreL {
    width: 70px;
	height: 70px;
	background-color: aqua;
	text-align: center;
	position: absolute;
	top: 441px;
    left: 150px; 
    border: 1px solid white;
    color : black;
}
#scoreR {
    width: 70px;
	height: 70px;
	background-color: red;
	text-align: center;
	position: absolute;
	top: 441px;
    left: 220px; 
    border: 1px solid white;
    color : black;
}